.userItem {
  display: flex;
  align-items: center;
  margin: 6px 0;

  & .userImg > img {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 80px;
  }

  & .usernameAndName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    & > p {
      font-size: 14px;
      font-weight: 600;
      color: rgb(38, 38, 38);
    }

    & > span {
      font-size: 12px;
      font-weight: 400;
      color: rgb(142, 142, 142);
    }
  }

  & .followButton {
    color: rgb(0, 149, 246);
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
  }
}
