.menuContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 215px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.098);
  z-index: 99999;
  position: fixed;
  margin-top: 1px;
  right: 15%;

  & > span {
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  & .logout {
    border-top: 1px solid #ccc;
  }

  & .square {
    position: absolute;
    background-color: white;
    box-shadow: -5px -5px 8px 0px rgba(0, 0, 0, 0.098);
    top: -5%;
    width: 18px;
    height: 18px;
    right: 10%;
    transform: rotate(50deg);
  }

  & * {
    background-color: white;
  }
}


@media (max-width:800px) and (min-width:200px){
  .menuContainer{
    right: 25%;
  }
}
