$white: #ffffff;
$border-color: rgb(219, 219, 219);

.navbarContainer {
  > * {
    background-color: $white;
  }

  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  padding: 5px 140px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 999;

  .logo {
    background-color: $white;
    > img {
      background-color: transparent;
      width: 110px;
      margin-top: 7px;
    }
  }

  .search {
    > input {
      background-color: #fafafa;
      border: 1px solid $border-color;
      border-radius: 3px;
      width: 215px;
      padding: 5px;
      outline: none;
      margin-left: 110px;

      &::placeholder {
        text-align: center;
        font-size: 14px;
        color: #a2a2a2;
      }
    }
  }

  .icons {
    display: flex;

    > * {
      margin: 0 12px;
      background-color: white;
    }
    svg {
      background-color: white;
      width: 21px;
      margin-top: 7px;
      cursor: pointer;
    }
    img {
      background-color: white;
      // width: 21px;
      width: 25px;
      border: 1px solid #ccc;
      margin-top: 7px;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) and (min-width: 200px) {
  .navbarContainer {
    flex-direction: column;

    .search {
      margin: 0;

      > input {
        margin: 0 auto;
      }
    }

    .icons {
      justify-content: space-between;
    }
  }
}
