$white: #ffffff;
$border-color: rgb(219, 219, 219);

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  background-color: $white;
  border: 1px solid $border-color;
}
