.btn {
  width: 16rem;
  margin: 13px auto 0;
  border: none;
  color: white;
  background-color: #0095f6;
  padding: 7px 15px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:disabled {
    background-color: #b2dffc;
    cursor: auto;
  }
}
