.appBannerContainer {
  width: 350px;
  margin: 25px auto;
  padding: 10px 0 30px;

  & div > p {
    text-align: center;
    font-size: 13.5px;
  }

  & .storeLogos {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    & img {
      width: 130px;
      margin: 0 4px;
    }
  }
}
