$white: #ffffff;
$border-color: rgb(219, 219, 219);

.formContainer {
  background-color: $white;
  border: 1px solid $border-color;
  margin: 10px auto;
  width: 350px;
  display: flex;
  flex-direction: column;

  & .form {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }

  & > img {
    background-color: $white;
    width: 170px;
    margin: 0 auto;
    padding: 35px 0 30px;
  }
}


.facebook {
  display: flex;
  align-items: center;
  background-color: $white;
  margin: 15px auto;

  & img {
    width: 17px;
  }

  & a {
    background-color: $white;
    text-decoration: none;
    color: #385185;
    font-size: 13px;
    letter-spacing: 0.02rem;
    font-weight: 800;
    margin: 0 8px;
  }
}

.forgotPassword {
  background-color: $white;
  margin: 0 auto 15px;

  & *{
    background-color: $white;
    text-decoration: none;
    color: #00376b;
    font-size: .7rem;
  }
}
